doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .wrapper
            section.one
                .header
                    .top.flex
                        .logo.flex
                            img(src='img/Symbol.png') 
                            p MISOCIAL 
                            
                        .navmenu.flex
                            ul.top-menu.flex
                                +menu(mainMenu, "white") 
                    
                    .PricingTable.wrapper
                        strong SOCIAL MARKETING & ANALYTICS
                        h2 PRICING TABLE 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. 
                        .strilka
                            img(src='img/strilka.png') 